<mat-toolbar color="primary">Search name</mat-toolbar>

<div class="main">
  <form class="search-form">
    <mat-form-field
      class="search-full-width"
    >
      <input
        matInput
        type="text"
        [placeholder]="placeholder"
        name="searchString"
        (keyup.enter)="findByName()"
        [(ngModel)]="searchString">
    </mat-form-field>
  </form>
  <button
    mat-mini-fab
    color="primary"
    (click)="findByName()"
  >
    <i class="material-icons">
      find_in_page
    </i>
  </button>
  <button
    mat-mini-fab
    color="primary"
    (click)="findByWord()"
  >
    <i class="material-icons">
      search
    </i>
  </button>
</div>

<mat-list role="list">
  <mat-list-item
    role="listitem"
    *ngFor="let film of displayedFilmsData; index as i"
  >
    {{i + 1}} - {{film.name}} ({{film.year}})
  </mat-list-item>
</mat-list>
<mat-card *ngIf="isShowAlert">
  Фильмов с таким именем не найдено (⌣̩̩́_⌣̩̩̀)
</mat-card>
